Source: gkonap
Section: graphics
Priority: optional
Maintainer: Daniel Derezinski <daniel.derezinski@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: gkonap
Architecture: any
Depends: python(>= 2.5.2), python-gtk2(>= 2.0), python-glade2(>= 2.12.1), p7zip-full, python-kaa-base, python-kaa-metadata
Description: Converts subtitle format for movies.
 Program converts subtitle formats. Supported formats:
 MicroDVD, SubRip, MPL2 and TMplayer only for input.
 Program has GUI - gkonap and can be used also form
 command line: konap.
